@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-balance {
  text-wrap: balance;
}

/* Scroll.module.css */

.fade-edge-left {
  background: linear-gradient(to right, rgba(30, 41, 59, 1) 0%, rgba(30, 41, 59, 0.8) 50%, rgba(30, 41, 59, 0) 100%);
  pointer-events: none;
}

.fade-edge-right {
  background: linear-gradient(to left, rgba(30, 41, 59, 1) 0%, rgba(30, 41, 59, 0.8) 50%, rgba(30, 41, 59, 0) 100%);
  pointer-events: none;
}

.scroll-container {
  overflow: hidden;
}

.infinite-scroll-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  mask-image: linear-gradient(to right, transparent, black 24px, black calc(100% - 24px), transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 24px, black calc(100% - 24px), transparent);
}

.infinite-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.infinite-scroll-content {
  display: flex;
  width: fit-content;
}